/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib
/share

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/Alien-SDL3-*
/.tidyall.d
